.sumi:hover {
  background-image: url("../img/sumi.png");
  width:  180px;
  height: 180px;
  border-radius: 50%;
  background-position: left top;
}
.briane:hover {
  background-image: url("../img/briane.jpg");
  width:  180px;
  height: 180px;
  border-radius: 50%;
  background-position: left top;
  border: 2px solid black;
}
.okuno:hover {
  background-image: url("../img/okuno.png");
  width:  180px;
  height: 180px;
  border-radius: 50%;
  background-position: left top;
}
.tujimoto:hover {
  background-image: url("../img/tenjoufire.png");
  width:  180px;
  height: 180px;
  border-radius: 50%;
  background-position: left top;
}
.fujikura:hover {
  background-image: url("../img/r-fujikura.jpg");
  width:  180px;
  height: 180px;
  border-radius: 50%;
  background-position: left top;
}
.kazuma:hover {
  background-image: url("../img/kazuma.jpg");
  width:  180px;
  height: 180px;
  border-radius: 50%;
  background-position: left top;
}
.pan:hover {
  background-image: url("../img/pan.png");
  width:  180px;
  height: 180px;
  border-radius: 50%;
  background-position: left top;
}
.shiohara:hover {
  background-image: url("../img/shiohara.jpg");
  width:  180px;
  height: 180px;
  border-radius: 50%;
  background-position: left top;
}
.takasaki:hover {
  background-image: url("../img/takasaki.jpg");
  width:  180px;
  height: 180px;
  border-radius: 50%;
  background-position: left top;
}
.tada:hover {
  background-image: url("../img/tada.jpg");
  width:  180px;
  height: 180px;
  border-radius: 50%;
  background-position: left top;
}
.kiyomasa:hover {
  background-image: url("../img/kiyomasa.jpg");
  width:  180px;
  height: 180px;
  border-radius: 50%;
  background-position: left top;
}
.maeno:hover {
  background-image: url("../img/maeno.jpg");
  width:  180px;
  height: 180px;
  border-radius: 50%;
  background-position: left top;
}

.sumi{
  background-image: url("../img/twitter/sumi_tw.jpg");
  width:  180px;
  height: 180px;
  border-radius: 50%;
  background-position: left top;
  border: 2px solid black;
}
.briane{
  background-image: url("../img/twitter/briane_tw.jpg");
  width:  180px;
  height: 180px;
  border-radius: 50%;
  background-position: left top;
  border: 2px solid black;
}
.okuno{
  background-image: url("../img/twitter/okuno_tw.jpeg");
  width:  180px;
  height: 180px;
  border-radius: 50%;
  background-position: left top;
  border: 2px solid black;
}
.tujimoto{
  background-image: url("../img/twitter/tujimoto_tw.jpg");
  width:  180px;
  height: 180px;
  border-radius: 50%;
  background-position: left top;
  border: 2px solid black;
}
.fujikura{
  background-image: url("../img/twitter/fujikura_tw.jpg");
  width:  180px;
  height: 180px;
  border-radius: 50%;
  background-position: left top;
  border: 2px solid black;
}
.kazuma{
  background-image: url("../img/twitter/ohashi_tw.jpg");
  width:  180px;
  height: 180px;
  border-radius: 50%;
  background-position: left top;
  border: 2px solid black;
}
.shiohara{
  background-image: url("../img/twitter/koki_tw.jpg");
  width:  180px;
  height: 180px;
  border-radius: 50%;
  background-position: left top;
  border: 2px solid black;
}
.pan{
  background-image: url("../img/twitter/pan_tw.jpg");
  width:  180px;
  height: 180px;
  border-radius: 50%;
  background-position: left top;
  border: 2px solid black;
}
.takasaki{
  background-image: url("../img/twitter/takasaki_tw.jpg");
  width:  180px;
  height: 180px;
  border-radius: 50%;
  background-position: left top;
  border: 2px solid black;
}
.tada{
  background-image: url("../img/twitter/tada_tw.jpg");
  width:  180px;
  height: 180px;
  border-radius: 50%;
  background-position: left top;
  border: 2px solid black;
}
.maeno{
  background-image: url("../img/twitter/maeno_tw.jpg");
  width:  180px;
  height: 180px;
  border-radius: 50%;
  background-position: left top;
  border: 2px solid black;
}
.kiyomasa{
  background-image: url("../img/twitter/kiyomasa_tw.jpg");
  width:  180px;
  height: 180px;
  border-radius: 50%;
  background-position: left top;
  border: 2px solid black;
}
