section{
  margin-top: -60px;
  padding-top: 60px;
}
.example {
  white-space: pre;
}
h2 {
  border-left: solid 20px darkblue;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  font-weight: bold;
}

.carousel-item .img-fluid {
  width:100%;
  height:auto;
}
.carousel-item{
  height: auto;
}
.carousel-item a {
  display: block;
  width:100%;
}
.carousel-item .show-image {
  display: block;
  width:100%;
}
