@media screen and (max-width:767px) {
  /*　画面サイズが767px以下の場合読み込む　*/
  h1{
    font-size: 5vw;
  }
  h2{
    font-size: 3vw;
  }
  h3{
    font-size: 3vw;
  }
}
@media screen and (min-width:768px){
  /*　画面サイズが768px以上の場合読み込む　*/

}
